@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('../fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
     url('../fonts/GothamBold.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('../fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('../fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
     url('../fonts/GothamMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('../fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('../fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
     url('../fonts/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('../fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
    font-style: normal;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-escuro: #052236;
  --acinzentado: #254548;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.title-grid {
  color: #254548;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gotham, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 180%;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: League Spartan, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

/* Cabeçalho */
.header {
  z-index: 3;
  width: 100%;
  position: absolute;
}

.logo-wrapper {
  display: flex;
  align-self: center;
}

.logo {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
  width: 150px;
  height: 136px;
}

.logo-wrapper img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* Menu */
.menu-toggle-wrapper {
  align-items: center;
  margin-top: 20px;
  display: flex;
  position: absolute;
  inset: 30% 5% auto auto;
}

.menu-text {
  color: #ededed;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.nav-menu-open {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 38px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: relative;
}

.menu-open-div {
  background-color: #eaeaea;
}

.menu-open-div._5 {
  width: 32px;
  height: 2px;
}

.menu-open-div._4 {
  width: 32px;
  height: 2px;
  display: block;
}

.menu-open-div._3 {
  width: 32px;
  height: 2px;
  display: block;
}

/* Banner */
.banner {
  background-color: var(--acinzentado);
  background-image: linear-gradient(#0003, #0003), url(https://www.conviverurbanismo.com.br/riviera/wp-content/themes/conviver-riviera/assets/images/65253dd6816c4f99f9996839_imagempraianova.webp);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  width: 100%;
  height: 100vh;
  padding-top: 120px;
  position: relative;
}

.banner-content {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 35vw;
  height: 70%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.button-wrapper {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.button.primary {
  border-color: var(--azul-escuro);
  background-color: var(--azul-escuro);
  align-items: center;
  margin-top: 0;
  padding: 15px 20px;
  font-size: 18px;
  display: flex;
}

.button {
  color: var(--white);
  text-align: center;
  cursor: pointer;
  background-color: #20cd55;
  border: 2px solid #20cd55;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: all .3s;
}

.text-block-37 {
  font-weight: 900;
}

.text_button_banner {
  text-transform: uppercase;
  font-size: 20px;
}

.cta-button {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.button.primary:hover {
  background-color: var(--white);
  color: #000000;
  border-color: var(--white);
}

/* Carrossel */
.section-grey{
  background-color: #e1ddd926;
  position: relative;
}

.image-241 {
  opacity: .4;
  width: 800px;
  position: absolute;
  inset: auto 10% 0% auto;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  z-index: 0;
}

.carrossel .swiper {
  width: 100%;
  height: auto;
}

.carrossel .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-slide {
  display: flex;
  flex-direction: row; /* Coloca a imagem e o texto lado a lado */
  align-items: center; /* Centraliza verticalmente */
  vertical-align: top;
  width: 100%;
  gap: 20px; /* Espaçamento entre imagem e texto */
  padding: 20px;
}

.imagem-slide img {
  width: 497px;
  height: 290px;
  object-fit: cover;
  border-radius: 8px;
  padding-left: 30px;
}

.carrossel .swiper-slide {
  width: 80%;
}

.carrossel .swiper-slide:nth-child(2n) {
  width: 60%;
}

.carrossel .swiper-slide:nth-child(3n) {
  width: 40%;
}

.carrossel .swiper-button-prev,
.carrossel .swiper-button-next {
  width: 25px;
  height: 25px;
  color: #000000;
}

.carrossel .swiper-button-prev::after {
  content: '\f104';
  font-family: 'Font Awesome 5 free';
  font-weight: 900;
}

.carrossel .swiper-button-next::after {
  content: '\f105';
  font-family: 'Font Awesome 5 free';
  font-weight: 900;
}


.carrossel .swiper-pagination .swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 15px;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  box-shadow: 0 0 20px rgba(51, 51, 51, .4);
}

.carrossel .swiper-pagination-bullet-active {
  background: #222;
  box-shadow: 0 0 20px rgba(51, 51, 51, .4);
}

.carrossel .swiper-pagination {
  position: absolute;
    z-index: 2;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    padding-bottom: 50px;
    text-align: center;
}

.carrossel .text-content {
  margin-left: 100px;
}

.carrossel .text-content h2{
  color: var(--azul-escuro);
  -webkit-text-stroke-color: #254548;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-family: League Spartan, sans-serif;
  font-size: 30px;
  font-weight: 400 !important;
  line-height: 36px;
}

.carrossel .text-content p {
  color: black;
  letter-spacing: 3px;
  text-transform: none;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 10px;
}

/* Seção de painel */
.imagem2 {
  z-index: 40;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Seção de Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--azul-escuro);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.image-container:hover::before {
  opacity: 0.8;
  cursor: pointer;
}

.image-container:hover img {
  transform: scale(1.05);
}

/* Seção de SwiperThumbs */
.mySwiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 .swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
  margin-top: 30px;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 .swiper-slide  img {
  max-width: 82.3vw;
  height: 42.3vw;
  background-color: none;
}

/* Configurando as thumbs */
.mySwiper {
  box-sizing: border-box;
  padding: 40px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide {
  width: 96px !important; /* Largura fixa */
  height: 96px !important; /* Altura igual à largura */
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Evitar problemas com padding ou margin */
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

/* Ajustando imagens das thumbs */
.mySwiper .swiper-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 0;
}

.mySwiper .swiper-wrapper {
  width: auto;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.hidden {
  display: none;
}

.swiper-button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 9999;
}

.mySwiper2 .swiper-button-prev,
.mySwiper2 .swiper-button-next {
  width: 25px;
  height: 25px;
  color: #7a7a7a;
}

.mySwiper2 .swiper-button-prev::after {
  content: '\f104';
  font-family: 'Font Awesome 5 free';
  font-weight: 900;
}

.mySwiper2 .swiper-button-next::after {
  content: '\f105';
  font-family: 'Font Awesome 5 free';
  font-weight: 900;
}


/* Seção de Destaques */
.highlights {
  padding: 60px 0;
  background-color: #f4f4f4;
}

.highlight-item {
  text-align: center;
  margin-bottom: 40px;
}

.highlight-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.highlight-item p {
  font-size: 1rem;
}

/* Seção de Galeria */
.gallery {
  padding: 60px 0;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 40px;
}

.gallery-item {
  text-align: center;
  margin-bottom: 20px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.section {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.divisor_section {
  background-color: var(--midnight-blue);
  background-image: url(https://www.conviverurbanismo.com.br/riviera/wp-content/themes/conviver-riviera/assets/images/6512e7d62c79da02f71bf34a_BC1.webp);
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.text_divisor {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
}

.div-block-14 {
  background-image: linear-gradient(#00000080, #00000080),
    url(https://www.conviverurbanismo.com.br/riviera/wp-content/themes/conviver-riviera/assets/images/CLUB-HOUSE-2-compressed.jpg);
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 53.8rem;
}

.div-block-21 {
  z-index: 99;
  width: 100%;
  position: relative;
}

.div-block-22 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 450px;
  margin-bottom: 60px;
  padding: 10vh;
  display: flex;
}

.block-center {
  padding: 10vh;
}

.title_virtual,
.title_area,
.title_maps {
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
}

.title-grid.mt.center {
  color: var(--black);
  text-align: center;
  margin-top: 0;
  padding-bottom: 40px;
  font-family: Gotham, sans-serif;
  font-weight: 700;
}

.block-center.supenderblock {
  padding-bottom: 0;
}
